<br>
<h3>Log In To Your Eagle Claw Account</h3><br>
<form action='/login' method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <p>Username: <input type="text" name='username'></p><br>
    <p>Password: <input type="password" name='password'></p><br>
    <input type='submit' value='Log In'>
</form><br>
