<br>
<form action='/login' method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    Username: <input type="text" name='name'><br>
    Password: <input type="password" name='password'><br>
    <input type='submit' value='Log In'>
</form><br>



<%= session[:user_id]%>

<% if logged_in?%>
    <%= current_user.username%>
<% else%>
    <h3>No angler is logged in</h3>
<%end%>