<br>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %><br>

<p>Below you will find a list of all the types of fish caught in this tournament.</p><br>

<% @types.each do |type|%>
<div>
    <p><%= type.name%></p><br>
</div>
<%end%>