/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors {
    padding: 2px;
    background-color: rgb(164, 210, 240);
    display: table;
  }

  body {
    background-image: url('https://images.unsplash.com/photo-1525134055640-f42ef8a7032d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fGZpc2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
    background-position: right;
    background-repeat: no-repeat;
    background-color: blanchedalmond;
  }

.edit_red {
  color: red;
}